html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

:root {
  --brown-deep: #3e2317;
  --brown-mid: #8b5a2b;
  --brown-light: #d9b48f;
  --brown-gold: #e0b878;
  --cream: #f3e6d8;
  --brown-classic: #a52a2a;
}

@import "tailwindcss";
